APP_PORT=8080
SECURITY_ENABLED=true
JWT_GENERATOR_SIGNATURE_SECRET=pleaseChangeThisSecretForANewOne

DB_NAME=rentcars
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT_HOST=5433

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret